body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.concept-node {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.main-node {
    background-color: #1f77b4; /* Azul principal */
}

.marketing-node {
    background-color: #ff7f0e; /* Naranja para Marketing */
}

.produccion-node {
    background-color: #2ca02c; /* Verde para Producción */
}

.rrhh-node {
    background-color: #d62728; /* Rojo para RRHH */
}

.finanzas-node {
    background-color: #9467bd; /* Violeta para Finanzas */
}

/* Colores para subniveles */
.marketing-subnode, .produccion-subnode, .rrhh-subnode, .finanzas-subnode {
    background-color: #ffbb78;
}

.marketing-subsubnode, .produccion-subsubnode, .rrhh-subsubnode, .finanzas-subsubnode {
    background-color: #ffcc88;
}

.concept-branch {
    display: none;
    margin-left: 20px;
    background-color: antiquewhite;
}

.concept-subbranch {
    display: none;
    margin-left: 40px;
}

.concept-subsubsubbranch {
    display: none;
    margin-left: 60px;
}
